In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('results.csv')

In [13]:
df[df['country']=="Argentina"]

    Unnamed: 0    country  pcr_test_result  pcr_test_result_pred
48          54  Argentina                0                     0
49          55  Argentina                0                     1

In [4]:
df.pcr_test_result.unique()

array([0, 1])

In [10]:
df.pcr_test_result.isnull().sum()

0