In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
#Model 1 
data = pd.read_csv(r"virufy-cdf-coswara-v2-preds.csv", 
                   index_col = 0, 
                   header = 0)

In [3]:
# Data processing 
model_1 = data[['country','age','pcr_test_result','pcr_test_result_pred']]
model_1 = model_1.loc[model_1['country'].isin(model_1['country'].value_counts()[:4].index.tolist())]

In [4]:
model_1 = model_1.loc[(model_1['pcr_test_result'] == 'negative') | (model_1['pcr_test_result'] == 'positive')]
model_1 = model_1.dropna()

In [5]:
model_1['pcr_test_result'] = model_1.pcr_test_result.replace({'negative':0, 'positive':1})
model_1['pcr_test_result_pred'] = model_1.pcr_test_result_pred.replace({'negative':0, 'positive':1})

In [6]:
#Creating model 2 data
np.random.seed(0)
model_2_len = np.random.randint(len(model_1) - 100, len(model_1) + 500, 1)[0]

model_2_country = np.array(random.choices(model_1['country'].unique().tolist(), k=model_2_len)).reshape(model_2_len,1)
model_2_age = np.array(random.choices(range(18,80), k=model_2_len)).reshape(model_2_len,1)
model_2_result = np.array(random.choices([0,1], k=model_2_len)).reshape(model_2_len,1)
model_2_pred = np.array(random.choices([0,1], k=model_2_len)).reshape(model_2_len,1)

In [7]:
model_2 = pd.DataFrame(data = None,
                      index = range(0,model_2_len),
                      columns = model_1.columns)

In [8]:
model_2['country'] = model_2_country
model_2['age'] = model_2_age
model_2['pcr_test_result'] = model_2_result
model_2['pcr_test_result_pred'] = model_2_pred

In [9]:
model_1 = model_1.sort_values(by=['country'])
model_2 = model_2.sort_values(by=['country'])

In [10]:
model_1.head()

     country  age  pcr_test_result  pcr_test_result_pred
305   Canada   31                0                     0
680   Canada   41                0                     0
1199  Canada   27                0                     1
1200  Canada   27                0                     0
335   Canada   22                0                     0

In [11]:
model_2.head()

     country  age  pcr_test_result  pcr_test_result_pred
932   Canada   58                1                     0
595   Canada   61                0                     1
1320  Canada   38                1                     0
1321  Canada   57                1                     0
344   Canada   67                1                     0

In [13]:
model_1.country.unique()

array(['Canada', 'France', 'India', 'United States'], dtype=object)